Repository algorandfoundation/algokit-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff

ruff-format:
  name: ruff-format
  description: Run 'ruff format' for extremely fast Python formatting
  entry: poetry run ruff format
  language: system
  args:
  - --no-cache
  require_serial: true
  additional_dependencies: []
  minimum_pre_commit_version: '0'

ruff:
  name: ruff
  description: Run 'ruff' for extremely fast Python linting
  entry: poetry run ruff
  language: system
  args:
  - --fix
  - --no-cache
  require_serial: false
  additional_dependencies: []
  minimum_pre_commit_version: '0'

fix: add build docs github action
  .github/actions/build-docs/action.yml
  pyproject.toml
Due: none

refactor: moved docs deps to the docs group
  docs/cli_build.py
  pyproject.toml
  uv.lock
Due: ruff-format

chore: formatted code
  docs/cli_build.py
Due: ruff-format

fix: linting errors
  docs/cli_build.py
  pyproject.toml
  tests/tasks/test_asset.py
  tests/tasks/test_transfer.py
Due: ruff-format, ruff

fix(ci): updated docs command
  .github/workflows/check-python.yaml
Due: none

docs: aligned titles in the sidebar
  docs/astro.config.mjs
  docs/src/content/docs/features/explore.md
  docs/src/content/docs/features/goal.md
Due: none

chore(docs): added bash fencing to code blocks
  docs/src/content/docs/features/completions.md
  docs/src/content/docs/features/config.md
  docs/src/content/docs/features/dispenser.md
  docs/src/content/docs/features/doctor.md
  docs/src/content/docs/features/generate.md
  docs/src/content/docs/features/goal.md
  docs/src/content/docs/features/init.md
  docs/src/content/docs/features/project/bootstrap.md
  docs/src/content/docs/features/project/deploy.md
  docs/src/content/docs/features/project/link.md
  docs/src/content/docs/features/project/list.md
  docs/src/content/docs/features/project/run.md
  docs/src/content/docs/features/tasks/ipfs.md
  docs/src/content/docs/features/tasks/mint.md
  docs/src/content/docs/features/tasks/nfd.md
  docs/src/content/docs/features/tasks/opt.md
  docs/src/content/docs/features/tasks/send.md
  docs/src/content/docs/features/tasks/sign.md
  docs/src/content/docs/features/tasks/transfer.md
  docs/src/content/docs/features/tasks/vanity_address.md
  docs/src/content/docs/features/tasks/wallet.md
Due: none

fix: add private key validation and standardize algokit_common imports
  src/algokit/core/address_utils.py
  src/algokit/core/tasks/mint/mint.py
  tests/tasks/test_wallet.py
Due: ruff-format, ruff

chore: removed unused code and files
  .github/workflows/deploy-docs-preview.yaml
  docs/package-lock.json
  src/algokit/core/tasks/mint/mint.py
Due: ruff-format, ruff

fix: lint failure
  src/algokit/core/address_utils.py
  src/algokit/core/tasks/mint/mint.py
  tests/tasks/test_wallet.py
Due: ruff-format, ruff

chore: bump algokit-utils to 5.0.0a18
  uv.lock
Due: none

feat: make python template generator call uv x poetry aware
  src/algokit/cli/init/command.py
Due: ruff-format, ruff

chore: fix ruff formatting
  src/algokit/cli/init/command.py
Due: ruff-format, ruff

test: add test to check if init test passes package manager to the template provider copier
  tests/init/test_init.py
Due: ruff-format, ruff

chore: fix ruff import linting
  src/algokit/cli/init/command.py
Due: ruff-format, ruff

docs: updated script links to cli.algokit.io
  README.md
  docs/tutorials/intro.md
  scripts/install/install.ps1
  scripts/install/install.sh
  src/algokit/cli/__init__.py
Due: ruff-format, ruff

docs: updated script links to cli.algokit.io (#714)
  README.md
  docs/tutorials/intro.md
  scripts/install/install.ps1
  scripts/install/install.sh
  src/algokit/cli/__init__.py
  uv.lock
Due: ruff-format, ruff

ci: add devportal publishing workflow, extract sidebar config, and standardize pnpm usage
  .github/actions/build-docs/action.yml
  .github/workflows/publish-devportal-docs.yml
  docs/astro.config.mjs
  docs/package.json
  docs/sidebar.config.json
  pyproject.toml
Due: none

feat: add algokit vibe setup and status commands
  poetry.lock
  src/algokit/cli/init/command.py
  src/algokit/cli/vibe.py
Due: ruff-format, ruff

feat: add algokit vibe setup to init flow to prompt user to install vibekit if missing and run it to the generated project
  src/algokit/cli/__init__.py
  tests/init/test_init.test_init_minimal_interaction_required_yes_git_no_network.approved.txt
  tests/init/test_init_vibe.py
Due: ruff-format, ruff

docs: add documentation about algokit vibe new feature
  docs/astro.config.mjs
  docs/src/content/docs/features/overview.md
  docs/src/content/docs/features/vibe.md
Due: none

chore: fix formatting for ruff linter
  src/algokit/cli/vibe.py
Due: ruff-format, ruff

fix: fix mypy type errors on new algokit vibe command tests
  src/algokit/cli/init/command.py
  tests/init/test_init_vibe.py
Due: ruff-format, ruff

chore: update pyjwt version on lock file for solving known vulnerab
  uv.lock
Due: none

chore: format algokit vibe tests
  tests/init/test_init_vibe.py
Due: ruff-format, ruff

chore: fix remaining ruff linting errors
  tests/init/test_init_vibe.py
Due: ruff-format, ruff

docs: remove legacy markdown files and update startlight content
  docs/features/compile.md
  docs/features/doctor.md
  docs/features/generate.md
  docs/src/content/docs/features/compile.md
  docs/src/content/docs/features/doctor.md
  docs/src/content/docs/features/generate.md
  docs/src/content/docs/index.mdx
  docs/src/content/docs/tutorials/intro.md
  docs/tutorials/intro.md
Due: none

fix: bump pyjwt and requests to resolve CVE-2026-32597 and CVE-2026-25645
  .github/workflows/check-python.yaml
  pyproject.toml
  uv.lock
Due: none

fix: resolve silent failures in 'algokit project deploy' by improving error logging and robustness
  src/algokit/cli/project/deploy.py
  src/algokit/core/proc.py
Due: ruff-format, ruff

fix: show deploy command output on failure
  src/algokit/cli/project/deploy.py
  tests/project/deploy/test_deploy.test_command_bad_exit_code.approved.txt
Due: ruff-format, ruff

fix: include deploy command output on failure
  src/algokit/cli/project/deploy.py
  tests/project/deploy/test_deploy.test_command_bad_exit_code.approved.txt
Due: ruff-format, ruff

fix: bump cryptography and copier to resolve CVE-2026-34073 and CVE-2026-34730/34726
  pyproject.toml
  uv.lock
Due: none

fix: ensure pyinstaller tests use dist binary instead of venv algokit
  tests/portability/test_pyinstaller_binary.py
Due: ruff-format, ruff

chore: update to latest alpha 4 with get prefixes stripped from clients
  poetry.lock
  pyproject.toml
  src/algokit/cli/tasks/utils.py
  src/algokit/core/tasks/mint/mint.py
Due: ruff-format, ruff

build: bump algokit-utils to 5.0.0a7
  poetry.lock
  pyproject.toml
Due: none

fix: add missing hidden imports for algokit_utils proxy modules
  .gitignore
  pyproject.toml
  scripts/package_mac.sh
  scripts/package_windows.bat
  tests/conftest.py
  tests/project/deploy/test_deploy.py
  tests/tasks/test_asset.py
  tests/tasks/test_nfd_lookup.py
  tests/tasks/test_transfer.py
Due: ruff-format, ruff

test: included metadata_hash in logger output so it can be part of approvals
  src/algokit/core/tasks/mint/mint.py
  tests/tasks/test_mint.test_mint_token_successful.address.False.localnet.approved.txt
  tests/tasks/test_mint.test_mint_token_successful.address.False.mainnet.approved.txt
  tests/tasks/test_mint.test_mint_token_successful.address.False.testnet.approved.txt
  tests/tasks/test_mint.test_mint_token_successful.alias.True.localnet.approved.txt
  tests/tasks/test_mint.test_mint_token_successful.alias.True.mainnet.approved.txt
  tests/tasks/test_mint.test_mint_token_successful.alias.True.testnet.approved.txt
  tests/tasks/test_mint.test_mint_token_successful_on_decimals.decimals_given_params.approved.txt
  tests/tasks/test_mint.test_mint_token_successful_on_decimals.no_decimals_given.approved.txt
Due: ruff-format, ruff

Path conditions:
  ruff-format: any of: \.py$
  ruff: any of: ^(src|tests)/ and \.py$
