Repository algorandfoundation/algokit-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff-format
        name: ruff-format
        description: "Run 'ruff format' for extremely fast Python formatting"
        entry: poetry run ruff format
        language: system
        types: [python]
        args: [--no-cache]
        require_serial: true
        additional_dependencies: []
        minimum_pre_commit_version: "0"
      - id: ruff
        name: ruff
        description: "Run 'ruff' for extremely fast Python linting"
        entry: poetry run ruff
        language: system
        "types": [python]
        args: [--fix, --no-cache]
        require_serial: false
        additional_dependencies: []
        minimum_pre_commit_version: "0"
        files: "^(src|tests)/"
      - id: mypy
        name: mypy
        description: "`mypy` will check Python types for correctness"
        entry: poetry run mypy
        language: system
        types_or: [python, pyi]
        require_serial: true
        additional_dependencies: []
        minimum_pre_commit_version: "2.9.2"
        files: "^(src|tests)/"

2.10.1
  CHANGELOG.md
  pyproject.toml
Due: none

ci: fix redundant workflow trigger after production release
  pyproject.toml
Due: none

ci: fix redundant workflow trigger after production release (#707)
  pyproject.toml
Due: none

2.10.2
  CHANGELOG.md
  pyproject.toml
Due: none

docs: create a non formal .md file inspired by ADRs in docs
  docs/architecture-decisions/2026-02-05_simplify-distribution-options.md
Due: none

chore: note npm
  docs/architecture-decisions/2026-02-05_simplify-distribution-options.md
Due: none

docs: mark uv distribution ADR as decided (Option A); fix cryptography vulnerability
  docs/architecture-decisions/2026-02-05_simplify-distribution-options.md
  poetry.lock
  pyproject.toml
Due: none

fix: ensure pyinstaller tests use dist binary instead of venv algokit
  tests/portability/test_pyinstaller_binary.py
Due: ruff-format, ruff

fix: add missing hidden imports for algokit_utils proxy modules
  .gitignore
  pyproject.toml
  scripts/package_mac.sh
  scripts/package_windows.bat
  tests/conftest.py
  tests/project/deploy/test_deploy.py
  tests/tasks/test_asset.py
  tests/tasks/test_nfd_lookup.py
  tests/tasks/test_transfer.py
Due: ruff-format, ruff

chore: update to latest alpha 4 with get prefixes stripped from clients
  poetry.lock
  pyproject.toml
  src/algokit/cli/tasks/utils.py
  src/algokit/core/tasks/mint/mint.py
Due: ruff-format, ruff

refactor: simplify mint implementation
  src/algokit/core/tasks/mint/mint.py
Due: ruff-format, ruff

refactor: simplify assets module
  src/algokit/cli/tasks/assets.py
  src/algokit/cli/tasks/utils.py
  tests/tasks/test_asset.py
Due: ruff-format, ruff

build: bump algokit-utils to 5.0.0a7
  poetry.lock
  pyproject.toml
Due: none

refactor: reduce usages of private keys
  src/algokit/cli/tasks/sign_transaction.py
  src/algokit/cli/tasks/utils.py
  src/algokit/core/address_utils.py
  src/algokit/core/signing_account.py
  src/algokit/core/tasks/mint/mint.py
Due: ruff-format, ruff

test: included metadata_hash in logger output so it can be part of approvals
  src/algokit/core/tasks/mint/mint.py
  tests/tasks/test_mint.test_mint_token_successful.address.False.localnet.approved.txt
  tests/tasks/test_mint.test_mint_token_successful.address.False.mainnet.approved.txt
  tests/tasks/test_mint.test_mint_token_successful.address.False.testnet.approved.txt
  tests/tasks/test_mint.test_mint_token_successful.alias.True.localnet.approved.txt
  tests/tasks/test_mint.test_mint_token_successful.alias.True.mainnet.approved.txt
  tests/tasks/test_mint.test_mint_token_successful.alias.True.testnet.approved.txt
  tests/tasks/test_mint.test_mint_token_successful_on_decimals.decimals_given_params.approved.txt
  tests/tasks/test_mint.test_mint_token_successful_on_decimals.no_decimals_given.approved.txt
Due: ruff-format, ruff

chore: lockfile
  poetry.lock
  pyproject.toml
Due: none

refactor: migrate to uv - uv as primary distribution method
  .github/actions/build-binaries/linux/action.yaml
  .github/actions/build-binaries/macos/action.yaml
  .github/actions/build-binaries/windows/action.yaml
  .github/actions/setup-poetry/action.yaml
  .github/actions/setup-uv/action.yaml
  .github/assets/banner.svg
  .github/workflows/build-binaries.yaml
  .github/workflows/build-python.yaml
  .github/workflows/cd.yaml
  .github/workflows/check-python.yaml
  .github/workflows/clear-caches.yaml
  .github/workflows/publish-release-packages.yaml
  .pre-commit-config.yaml
  .python-version
  CONTRIBUTING.md
  README.md
  debug.py
  docs/features/compile.md
  docs/features/doctor.md
  docs/features/generate.md
  docs/tutorials/intro.md
  poetry.lock
  poetry.toml
  pyproject.toml
  scripts/install/install.ps1
  scripts/install/install.sh
  src/algokit/cli/__init__.py
  src/algokit/cli/doctor.py
  src/algokit/core/compilers/python.py
  src/algokit/core/config_commands/version_prompt.py
  src/algokit/core/dispenser.py
  src/algokit/core/project/bootstrap.py
  src/algokit/core/tasks/analyze.py
  src/algokit/core/typed_client_generation.py
  src/algokit/core/utils.py
  tests/explore/test_explore.py
  uv.lock
Due: ruff-format, ruff

refactor: apply uv migration review refinements
  .github/actions/setup-uv/action.yaml
  .github/workflows/build-python.yaml
  .github/workflows/check-python.yaml
  scripts/install/install.ps1
  scripts/install/install.sh
  src/algokit/core/config_commands/version_prompt.py
  src/algokit/core/project/bootstrap.py
  src/algokit/core/project/run.py
  src/algokit/core/typed_client_generation.py
  tests/generate/test_generate_client.py
  tests/generate/test_generate_client.test_generate_client_no_app_spec_found.approved.txt
  tests/generate/test_generate_client.test_generate_client_output_path_is_dir.approved.txt
  tests/generate/test_generate_client.test_generate_client_python[--output {contract_name}.py-hello_world_app.py].approved.txt
  tests/generate/test_generate_client.test_generate_client_python[-l python -v 1.1.0-hello_world_app_client.py].approved.txt
  tests/generate/test_generate_client.test_generate_client_python[-l python-hello_world_app_client.py].approved.txt
  tests/generate/test_generate_client.test_generate_client_python[-o client.py --language python --version 1.1.2-client.py].approved.txt
  tests/generate/test_generate_client.test_generate_client_python[-o client.py -p --mode minimal-client.py].approved.txt
  tests/generate/test_generate_client.test_generate_client_python[-o client.py-client.py].approved.txt
  tests/generate/test_generate_client.test_generate_client_python[-o client.ts --language python-client.ts].approved.txt
  tests/generate/test_generate_client.test_generate_client_python_arc32_filename.-o.client.py.approved.txt
  tests/generate/test_generate_client.test_generate_client_python_arc56_filename.-o.client.py.approved.txt
  tests/generate/test_generate_client.test_generate_client_python_multiple_app_specs_in_directory.-o.client.py.approved.txt
  tests/generate/test_generate_client.test_generate_client_recursive.approved.txt
  tests/generate/test_generate_client.test_pipx_missing.approved.txt
  tests/generate/test_generate_client.test_python_generator_is_installed_globally.approved.txt
  tests/generate/test_generate_client.test_python_generator_is_installed_in_project.approved.txt
  tests/generate/test_generate_client.test_python_generator_version_is_not_installed_anywhere.approved.txt
  tests/project/bootstrap/test_bootstrap_uv.test_bootstrap_uv_user_declines_install.approved.txt
Due: ruff-format, ruff

fix: warn on algokit PATH collisions during uv migration
  scripts/install/install.ps1
  scripts/install/install.sh
  src/algokit/cli/__init__.py
  src/algokit/core/utils.py
  tests/test_utils_path_resolution.py
Due: ruff-format, ruff

chore: pr comments
  README.md
  src/algokit/core/compilers/python.py
  src/algokit/core/config_commands/py_package_manager.py
  src/algokit/core/config_commands/version_prompt.py
  src/algokit/core/project/bootstrap.py
  src/algokit/core/project/run.py
  src/algokit/core/tasks/analyze.py
  src/algokit/core/typed_client_generation.py
  tests/project/bootstrap/test_bootstrap_poetry.py
  tests/project/bootstrap/test_bootstrap_poetry.test_bootstrap_poetry_without_poetry_or_pipx_path_or_pipx_module.approved.txt
  tests/test_utils_path_resolution.py
Due: ruff-format, ruff

feat(docs): initialize Starlight scaffold in docs/
  docs/.gitignore
  docs/astro.config.mjs
  docs/package-lock.json
  docs/package.json
  docs/public/favicon.svg
  docs/src/assets/houston.webp
  docs/src/content.config.ts
  docs/src/content/docs/index.mdx
  docs/tsconfig.json
Due: none

build: bump algokit-utils to 5.0.0a7
  poetry.lock
Due: none

feat(docs): add splash home page
  docs/src/assets/houston.webp
  docs/src/content/docs/index.mdx
Due: none

chore: update to latest alpha 4 with get prefixes stripped from clients
  poetry.lock
Due: none

feat(docs): add astro.config.mjs with sidebar and branding
  docs/astro.config.mjs
  docs/src/styles/cli-reference.css
Due: none

docs: update pyproject.toml poe tasks and dependency groups
  docs/cli_build.py
  pyproject.toml
Due: ruff-format

ci: add deploy-docs job to cd.yaml for GitHub Pages
  .github/workflows/cd.yaml
Due: none

ci: add check-docs workflow
  .github/workflows/check-docs.yaml
  .github/workflows/pr.yaml
Due: none

feat(docs): migrate hand-written markdown content to Starlight
  docs/astro.config.mjs
  docs/public/images/2023-06-06_frontend-templates/modular_templates.jpg
  docs/public/images/2023-06-06_frontend-templates/scenario_1.jpg
  docs/public/images/2023-06-06_frontend-templates/scenario_2.jpg
  docs/public/images/2024-01-13_native_binaries/image_1.png
  docs/public/images/2024-01-13_native_binaries/image_2.png
  docs/public/images/algokit-intro-video-thumbnail.jpg
  docs/public/images/algokit-map.png
  docs/public/images/algokitartifacts.png
  docs/public/images/algokitcodetour.png
  docs/public/images/algokitplayground.png
  docs/public/images/banner.png
  docs/public/images/lifecycle.jpg
  docs/public/images/localnet.png
  docs/src/content/docs/index.mdx
Due: none

ci: add build-docs composite action
  .github/actions/build-docs/action.yml
Due: none

ci: added temp preview docs for pr preview
  .github/workflows/deploy-docs-preview.yaml
  docs/src/content/docs/tutorials/intro.md
Due: none

fix(docs): resolve sphinx-build path
  docs/cli_build.py
  docs/package-lock.json
  poetry.lock
Due: ruff-format

chore: formatted code
  docs/cli_build.py
  docs/pnpm-lock.yaml
Due: ruff-format
