Repository algorandfoundation/algokit-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff-format
        name: ruff-format
        description: "Run 'ruff format' for extremely fast Python formatting"
        entry: poetry run ruff format
        language: system
        types: [python]
        args: [--no-cache]
        require_serial: true
        additional_dependencies: []
        minimum_pre_commit_version: "0"
      - id: ruff
        name: ruff
        description: "Run 'ruff' for extremely fast Python linting"
        entry: poetry run ruff
        language: system
        "types": [python]
        args: [--fix, --no-cache]
        require_serial: false
        additional_dependencies: []
        minimum_pre_commit_version: "0"
        files: "^(src|tests)/"
      - id: mypy
        name: mypy
        description: "`mypy` will check Python types for correctness"
        entry: poetry run mypy
        language: system
        types_or: [python, pyi]
        require_serial: true
        additional_dependencies: []
        minimum_pre_commit_version: "2.9.2"
        files: "^(src|tests)/"

chore: remove 3.13 rc
  .github/workflows/build-python.yaml
Due: none

docs: small doc tweak
  docs/features/compile.md
Due: none

feat: puya-ts support under `compile` command group (#612)
  .github/workflows/build-python.yaml
  docs/cli/index.md
  docs/features/compile.md
  poetry.lock
  src/algokit/cli/compile.py
  src/algokit/cli/compilers/typescript.py
  src/algokit/core/compilers/typescript.py
  src/algokit/core/typed_client_generation.py
  src/algokit/core/utils.py
  tests/compile/conftest.py
  tests/compile/test_typescript.py
  tests/compile/test_typescript.test_compile_py_help.approved.txt
  tests/compile/test_typescript.test_puyats_is_installed_globally.approved.txt
  tests/compile/test_typescript.test_puyats_is_installed_in_project.approved.txt
  tests/compile/test_typescript.test_puyats_is_not_installed_anywhere.approved.txt
  tests/compile/test_typescript.test_specificed_puyats_version_is_not_installed.approved.txt
Due: ruff-format, ruff

feat: add typescript template integration (#614)
  README.md
  docs/cli/index.md
  docs/features/init.md
  src/algokit/cli/init.py
  tests/init/test_init.py
Due: ruff-format, ruff

2.6.0
  CHANGELOG.md
  pyproject.toml
Due: none

chore: try fork sync
  .github/workflows/fork-sync.yaml
Due: none

chore: try again
  .github/workflows/fork-sync.yaml
Due: none

chore: try this
  .github/workflows/fork-sync.yaml
Due: none

chore: another try
  .github/workflows/fork-sync.yaml
Due: none

docs: clarify when python is needed
  README.md
  docs/features/compile.md
Due: none

docs: clarify when python is needed (#617)
  README.md
  docs/features/compile.md
Due: none

chore: fix audit issue
  .github/workflows/check-python.yaml
  poetry.lock
  pyproject.toml
  src/algokit/core/_vendor/auth0/authentication/token_verifier.py
Due: ruff-format, ruff

fix: resolve project run issue by forcing utf-8 encoding on windows
  src/algokit/cli/dispenser.py
  src/algokit/cli/project/link.py
  src/algokit/cli/tasks/analyze.py
  src/algokit/cli/tasks/mint.py
  src/algokit/cli/tasks/vanity_address.py
  src/algokit/core/init.py
  src/algokit/core/proc.py
  src/algokit/core/tasks/analyze.py
  src/algokit/core/tasks/mint/models.py
  tests/init/test_init.py
  tests/project/link/test_link.test_link_command_all_success.approved.txt
  tests/project/link/test_link.test_link_command_by_name_success.approved.txt
  tests/project/link/test_link.test_link_command_multiple_names_no_specs_success.approved.txt
  tests/project/link/test_link.test_link_command_multiple_names_success.approved.txt
Due: ruff-format, ruff

AK-194: Updated dev portal links
  README.md
  docs/cli/index.md
  docs/features/goal.md
  docs/features/localnet.md
  docs/features/tasks/send.md
  docs/features/tasks/sign.md
  docs/tutorials/intro.md
  src/algokit/cli/goal.py
  tests/goal/test_goal.test_goal_help.approved.txt
Due: ruff-format, ruff

Fixed remaining links
  docs/features/tasks/analyze.md
  docs/tutorials/intro.md
Due: none

Updated links
  README.md
  docs/features/localnet.md
Due: none

chore: updated docs
  docs/cli/index.md
Due: none

fix: updated test snapshot
  tests/goal/test_goal.test_goal_help.approved.txt
Due: none

docs: AK-194: Updated dev portal links (#615)
  README.md
  docs/cli/index.md
  docs/features/goal.md
  docs/features/localnet.md
  docs/features/tasks/analyze.md
  docs/features/tasks/send.md
  docs/features/tasks/sign.md
  docs/tutorials/intro.md
  src/algokit/cli/goal.py
  tests/goal/test_goal.test_goal_help.approved.txt
Due: ruff-format, ruff

fix: handle non zero exit code when running npm ls
  src/algokit/core/compilers/typescript.py
  src/algokit/core/typed_client_generation.py
  tests/compile/test_typescript.test_compile_py_help.approved.txt
  tests/compile/test_typescript.test_puyats_is_installed_globally.approved.txt
  tests/compile/test_typescript.test_puyats_is_installed_in_project.approved.txt
  tests/compile/test_typescript.test_puyats_is_not_installed_anywhere.approved.txt
  tests/compile/test_typescript.test_specificed_puyats_version_is_not_installed.approved.txt
  tests/generate/test_generate_client.test_generate_client_typescript[linux---output {contract_name}.ts-HelloWorldApp.ts].approved.txt
  tests/generate/test_generate_client.test_generate_client_typescript[linux--l typescript -v 2.6.0-HelloWorldAppClient.ts].approved.txt
  tests/generate/test_generate_client.test_generate_client_typescript[linux--l typescript-HelloWorldAppClient.ts].approved.txt
  tests/generate/test_generate_client.test_generate_client_typescript[linux--o client.py --language typescript-client.py].approved.txt
  tests/generate/test_generate_client.test_generate_client_typescript[linux--o client.ts --language typescript --version 3.0.0-client.ts].approved.txt
  tests/generate/test_generate_client.test_generate_client_typescript[linux--o client.ts-client.ts].approved.txt
  tests/generate/test_generate_client.test_generate_client_typescript[macOS---output {contract_name}.ts-HelloWorldApp.ts].approved.txt
  tests/generate/test_generate_client.test_generate_client_typescript[macOS--l typescript -v 2.6.0-HelloWorldAppClient.ts].approved.txt
  tests/generate/test_generate_client.test_generate_client_typescript[macOS--l typescript-HelloWorldAppClient.ts].approved.txt
  tests/generate/test_generate_client.test_generate_client_typescript[macOS--o client.py --language typescript-client.py].approved.txt
  tests/generate/test_generate_client.test_generate_client_typescript[macOS--o client.ts --language typescript --version 3.0.0-client.ts].approved.txt
  tests/generate/test_generate_client.test_generate_client_typescript[macOS--o client.ts-client.ts].approved.txt
  tests/generate/test_generate_client.test_generate_client_typescript[windows---output {contract_name}.ts-HelloWorldApp.ts].approved.txt
  tests/generate/test_generate_client.test_generate_client_typescript[windows--l typescript -v 2.6.0-HelloWorldAppClient.ts].approved.txt
  tests/generate/test_generate_client.test_generate_client_typescript[windows--l typescript-HelloWorldAppClient.ts].approved.txt
  tests/generate/test_generate_client.test_generate_client_typescript[windows--o client.py --language typescript-client.py].approved.txt
  tests/generate/test_generate_client.test_generate_client_typescript[windows--o client.ts --language typescript --version 3.0.0-client.ts].approved.txt
  tests/generate/test_generate_client.test_generate_client_typescript[windows--o client.ts-client.ts].approved.txt
  tests/generate/test_generate_client.test_npx_failed[linux].approved.txt
  tests/generate/test_generate_client.test_npx_failed[macOS].approved.txt
  tests/generate/test_generate_client.test_npx_failed[windows].approved.txt
  tests/generate/test_generate_client.test_typescript_generator_is_installed_globally[linux].approved.txt
  tests/generate/test_generate_client.test_typescript_generator_is_installed_globally[macOS].approved.txt
  tests/generate/test_generate_client.test_typescript_generator_is_installed_globally[windows].approved.txt
  tests/generate/test_generate_client.test_typescript_generator_is_installed_in_project[linux].approved.txt
  tests/generate/test_generate_client.test_typescript_generator_is_installed_in_project[macOS].approved.txt
  tests/generate/test_generate_client.test_typescript_generator_is_installed_in_project[windows].approved.txt
  tests/generate/test_generate_client.test_typescript_generator_version_is_not_installed_anywhere[linux].approved.txt
  tests/generate/test_generate_client.test_typescript_generator_version_is_not_installed_anywhere[macOS].approved.txt
  tests/generate/test_generate_client.test_typescript_generator_version_is_not_installed_anywhere[windows].approved.txt
Due: ruff-format, ruff

fix: resolve project run issue by forcing utf-8 encoding on windows (#620)
  src/algokit/cli/dispenser.py
  src/algokit/cli/project/link.py
  src/algokit/cli/tasks/analyze.py
  src/algokit/cli/tasks/mint.py
  src/algokit/cli/tasks/vanity_address.py
  src/algokit/core/init.py
  src/algokit/core/proc.py
  src/algokit/core/tasks/analyze.py
  src/algokit/core/tasks/mint/models.py
  tests/init/test_init.py
  tests/project/link/test_link.test_link_command_all_success.approved.txt
  tests/project/link/test_link.test_link_command_by_name_success.approved.txt
  tests/project/link/test_link.test_link_command_multiple_names_no_specs_success.approved.txt
  tests/project/link/test_link.test_link_command_multiple_names_success.approved.txt
Due: ruff-format, ruff

fix: handle non zero exit code when running npm ls (#622)
  src/algokit/core/compilers/typescript.py
  src/algokit/core/typed_client_generation.py
  tests/compile/test_typescript.test_compile_py_help.approved.txt
  tests/compile/test_typescript.test_puyats_is_installed_globally.approved.txt
  tests/compile/test_typescript.test_puyats_is_installed_in_project.approved.txt
  tests/compile/test_typescript.test_puyats_is_not_installed_anywhere.approved.txt
  tests/compile/test_typescript.test_specificed_puyats_version_is_not_installed.approved.txt
  tests/generate/test_generate_client.test_generate_client_typescript[linux---output {contract_name}.ts-HelloWorldApp.ts].approved.txt
  tests/generate/test_generate_client.test_generate_client_typescript[linux--l typescript -v 2.6.0-HelloWorldAppClient.ts].approved.txt
  tests/generate/test_generate_client.test_generate_client_typescript[linux--l typescript-HelloWorldAppClient.ts].approved.txt
  tests/generate/test_generate_client.test_generate_client_typescript[linux--o client.py --language typescript-client.py].approved.txt
  tests/generate/test_generate_client.test_generate_client_typescript[linux--o client.ts --language typescript --version 3.0.0-client.ts].approved.txt
  tests/generate/test_generate_client.test_generate_client_typescript[linux--o client.ts-client.ts].approved.txt
  tests/generate/test_generate_client.test_generate_client_typescript[macOS---output {contract_name}.ts-HelloWorldApp.ts].approved.txt
  tests/generate/test_generate_client.test_generate_client_typescript[macOS--l typescript -v 2.6.0-HelloWorldAppClient.ts].approved.txt
  tests/generate/test_generate_client.test_generate_client_typescript[macOS--l typescript-HelloWorldAppClient.ts].approved.txt
  tests/generate/test_generate_client.test_generate_client_typescript[macOS--o client.py --language typescript-client.py].approved.txt
  tests/generate/test_generate_client.test_generate_client_typescript[macOS--o client.ts --language typescript --version 3.0.0-client.ts].approved.txt
  tests/generate/test_generate_client.test_generate_client_typescript[macOS--o client.ts-client.ts].approved.txt
  tests/generate/test_generate_client.test_generate_client_typescript[windows---output {contract_name}.ts-HelloWorldApp.ts].approved.txt
  tests/generate/test_generate_client.test_generate_client_typescript[windows--l typescript -v 2.6.0-HelloWorldAppClient.ts].approved.txt
  tests/generate/test_generate_client.test_generate_client_typescript[windows--l typescript-HelloWorldAppClient.ts].approved.txt
  tests/generate/test_generate_client.test_generate_client_typescript[windows--o client.py --language typescript-client.py].approved.txt
  tests/generate/test_generate_client.test_generate_client_typescript[windows--o client.ts --language typescript --version 3.0.0-client.ts].approved.txt
  tests/generate/test_generate_client.test_generate_client_typescript[windows--o client.ts-client.ts].approved.txt
  tests/generate/test_generate_client.test_npx_failed[linux].approved.txt
  tests/generate/test_generate_client.test_npx_failed[macOS].approved.txt
  tests/generate/test_generate_client.test_npx_failed[windows].approved.txt
  tests/generate/test_generate_client.test_typescript_generator_is_installed_globally[linux].approved.txt
  tests/generate/test_generate_client.test_typescript_generator_is_installed_globally[macOS].approved.txt
  tests/generate/test_generate_client.test_typescript_generator_is_installed_globally[windows].approved.txt
  tests/generate/test_generate_client.test_typescript_generator_is_installed_in_project[linux].approved.txt
  tests/generate/test_generate_client.test_typescript_generator_is_installed_in_project[macOS].approved.txt
  tests/generate/test_generate_client.test_typescript_generator_is_installed_in_project[windows].approved.txt
  tests/generate/test_generate_client.test_typescript_generator_version_is_not_installed_anywhere[linux].approved.txt
  tests/generate/test_generate_client.test_typescript_generator_version_is_not_installed_anywhere[macOS].approved.txt
  tests/generate/test_generate_client.test_typescript_generator_version_is_not_installed_anywhere[windows].approved.txt
Due: ruff-format, ruff

2.6.1
  CHANGELOG.md
  pyproject.toml
Due: none

fix: raise min required copier version to 3.6.0
  poetry.lock
  pyproject.toml
Due: none

refactor: fix failing tests; add verbose mode for doctor command
  docs/cli/index.md
  docs/features/doctor.md
  src/algokit/cli/doctor.py
  src/algokit/cli/init.py
  tests/compile/test_typescript.py
  tests/doctor/test_doctor.test_doctor_help.approved.txt
Due: ruff-format, ruff

chore: addressing pr comments
  .vscode/launch.json
  docs/cli/index.md
  docs/features/doctor.md
  src/algokit/cli/doctor.py
  tests/doctor/test_doctor.py
  tests/doctor/test_doctor.test_doctor_help.approved.txt
Due: ruff-format, ruff

fix: raise min required copier version to 3.6.0 (#623)
  .vscode/launch.json
  docs/features/doctor.md
  poetry.lock
  pyproject.toml
  src/algokit/cli/doctor.py
  src/algokit/cli/init.py
  tests/compile/test_typescript.py
  tests/doctor/test_doctor.py
Due: ruff-format, ruff

2.6.2
  CHANGELOG.md
  pyproject.toml
Due: none

docs: migrate to starlight and markdown builders with MyST
  .gitignore
  docs/conf.py
  docs/index.rst
  poetry.lock
  pyproject.toml
Due: ruff-format

docs: refactor reference and links
  docs/architecture-decisions/2022-11-14_sandbox-approach.md
  docs/architecture-decisions/2023-01-12_smart-contract-deployment.md
  docs/architecture-decisions/2023-06-06_frontend-templates.md
  docs/architecture-decisions/2023-07-19_advanced_generate_command.md
  docs/cli/conf.py
  docs/cli/index.rst
  docs/features/completions.md
  docs/features/config.md
  docs/features/dispenser.md
  docs/features/doctor.md
  docs/features/explore.md
  docs/features/generate.md
  docs/features/goal.md
  docs/features/init.md
  docs/features/localnet.md
  docs/features/project.md
  docs/features/project/bootstrap.md
  docs/features/project/deploy.md
  docs/features/project/link.md
  docs/features/project/list.md
  docs/features/project/run.md
  docs/features/tasks/ipfs.md
  docs/features/tasks/mint.md
  docs/features/tasks/nfd.md
  docs/features/tasks/opt.md
  docs/features/tasks/send.md
  docs/features/tasks/sign.md
  docs/features/tasks/transfer.md
  docs/features/tasks/vanity_address.md
  docs/features/tasks/wallet.md
  docs/index.md
  docs/reference.md
  docs/tutorials/algokit-template.md
  docs/tutorials/intro.md
  docs/tutorials/smart-contracts.md
  poetry.lock
  pyproject.toml
Due: ruff-format

fix: compile ts hangs when puya-ts is detected but not installed in the project
  src/algokit/core/compilers/typescript.py
  src/algokit/core/typed_client_generation.py
Due: ruff-format, ruff

fix: compile ts hangs when puya-ts is detected but not installed in the project (#628)
  src/algokit/core/compilers/typescript.py
  src/algokit/core/typed_client_generation.py
Due: ruff-format, ruff

chore: bumped ubunto build binary version
  .github/workflows/build-binaries.yaml
Due: none

chore: bumped ubuntu build binary version (#629)
  .github/workflows/build-binaries.yaml
Due: none

chore: fix audit issue (#618)
  .github/workflows/check-python.yaml
  poetry.lock
  pyproject.toml
  src/algokit/core/_vendor/auth0/authentication/token_verifier.py
Due: ruff-format, ruff
